#d:hover {
  background-color: #0000ff;
  color: white;
}

#f:hover{
  text-decoration: underline;

}
#f{
  color: blue;
}
.portland-background{
  background-image: url('../images/portland1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 378px;
}
.author{
  margin-bottom: 32px;
  font-style: normal;
}
.bitbucket-customer{
  height: 160px;
}

h3{
  color: #DFDAD4;
}
/* #l{
  background-image: url('../images/bitbucket pull request.png');
  background-size: cover;
} */
#t:hover{
   color: blue;

}
.code-smarter-row-custom{
  margin-bottom: 50px;

}
.code-smarter-col-custom
{


}

.code-smarter-row1-custom{
  padding-top:140px;
}
.asset15-custom{
  height: 50px;
  width: 42px;
}
.code-smarter-div-custom{
  padding-left: 20px;
}
.Flexible-custom{
  margin-bottom: 48px;
}
.arrow-color{
  color: #00C5CD;
  font-size: 40px;
}
.font{
  height: 10px;
  width: 10px;
  background-color: #0000ff;
}
.footer-custom{
  margin-top:50px;
}
.footer-h4-custom{
    margin-bottom: 24px;
}
.footer-a-custom{
  margin-left: 110px;
}
.footer-col-custom{
  margin-top: 50px;
}
.jumbotron-custom{
  background-color:white;
}
.anchor-tag-custom{
  background-color: #0000ff;
}
.jumbotron-col-custom{
  margin-bottom: 20px;
}
.integrations-column-custom{
  margin-bottom: 48px;
  margin-top: 30px;
}
.img-custom{
  height: 25px;

}
.carousel-control-prev-icon{
  background-color: black;
}
.carousel-control-next-icon{
  background-color: black;
}
.carousel-img-custom{
  height: 110px;
}
.carousel-img2-custom{
  height: 135px;
}
.background-image-quote{
  background-image: url('../images/background-img.jpeg');
  background-size: cover;
}
.market-logo-custom{
  height: 75px;
}
.docker-img-custom{
  height: 110px;
  width: 110px;
  margin-left: 85px;
}
.host-on-your-server-row-custom{
  margin-top: 100px;
}
.login-custom{
  margin-top: 100px;
  height: 1000px;
}
.login-atlasian-custom{
  height: 85px;
  width: 200px;
  
}
.login-bitbucket-custom{
  height: 75px;
  width: 150px;

}
