<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Features | Bitbucket</title>
    <link rel="icon" href="../images/bitbucket-icon.png" sizes="16x16"  type="image/gif">
    <!-- link for bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

  <!-- link for fa fa-fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- link for custom style -->
    <link rel="stylesheet" href="../css/bitbucket.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="../images/Bitbucket-blue.svg" height="22px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mt-md-2 mr-auto  font-weight-bold" >
            <li class="nav-item">
              <a href="#" id="f" class="nav-link ">Features</a>
            </li>
            <li class="nav-item">
              <a href="#" id="f " class="nav-link" style="color:blue;">Integrations</a>
            </li>
            <li class="nav-item">
              <a href="#" id="f" class="nav-link ">Server</a>
            </li>
            <li class="nav-item">
              <a href="#" id="f" class="nav-link ">Enterprise</a>
            </li>
            <li class="nav-item">
              <a href="#" id="f" class="nav-link ">Pricing</a>
            </li>
          </ul>
          <ul class="navbar-nav mt-md-2 font-weight-bold">
            <li class="nav-item">
              <a href="#" id="f" class="nav-link  mr-md-2" >Log in</a>
            </li>
            <li class="nav-item">
              <a href="# " id="d" class="btn text-dark nav-link" style="border-color:#0000ff;"><font color:"red" id="d">Get started</font>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="jumbotron">
          <div class="row" style="height:200px;">
            <div class="col-md-4 ">
              <h1 class="text-dark font-weight-bold">Git, your way</h1>
              <p class="text-muted font-weight-bold mt-md-3">
                See what makes Bitbucket <em>the</em> Git solution for professional teams
              </p>
              <a href="#" style="background-color:#0000ff;" class="pb-md-2 btn pl-md-3 pr-md-3 pt-md-2 text-white"> Get started for free</a>
            </div>

          </div>
          <div class="row " style="height:500px;">
            <div class="col-md-5 bg-warning mt-md-5">
              <div class="row  " style="height:170px;margin-bottom:24px;">
                  <div class="col-md-2 ">
                    <img src="../images/Asset 8.svg" alt="" style="height:50px;width:42px;" >
                  </div>
                  <div class="col-md-9">
                    <h3 class="font-weight-bold " id="t">Pull requests</h3>
                    <p class="text-muted">Pull requests facilitate code reviews, resulting in higher quality code and an
                       opportunity to share knowledge amongst your team.</p>
                  </div>
              </div>
              <div class="row bg-primary" style="height:100px;margin-bottom:24px;">
                <img src="../images/Asset 9.svg" class="img-fluid" style="height:50px;width:42px; " alt="">
                  <h3 class="font-weight-bold " id="s">Pull requests</h3>
              </div>
              <div class="row bg-danger" style="height:100px;margin-bottom:24px;">
                  <img src="../images/Asset 12.svg" class="img-fluid" style="height:34px;width:42px; " alt="">
                  <h3 class="font-weight-bold " id="w">Pull requests</h3>
              </div>
            </div>
            <div class="col-md-7 bg-info"  id="l">
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid ">
        <div class="row" style="
        padding-top: 60px;
        padding-bottom: 100px;">
          <div class="col-md-4 ">
            <div class="text-center">
                <img src="../images/bitbucket-product-features-illustration-bitbucket pipelines.svg" style="height:120px;" alt="">
                <h4 class="font-weight-bold mb-md-3 mt-md-3">Bitbucket Pipelines</h4>
                <p>One tool for all your needs, from code to deployment</p>
                <a href="#">Learn more<span class="fa fa-long-arrow-right ml-md-3"></span> </a>
            </div>
          </div>
          <div class="col-md-4 code-smarter-col-custom">
            <div class="text-center">
                <img src="../images/bitbucket-product-features-illustration-git large file storage .svg" style="height:120px;" alt="">
                <h4 class="font-weight-bold mb-md-3 mt-md-3">Git Large File Storage (LFS)</h4>
                <p>Store rich media and large data in your repos</p>
                <a href="#">Learn more<span class="fa fa-long-arrow-right ml-md-3"></span> </a>
            </div>
          </div>
          <div class="col-md-4 code-smarter-col-custom">
            <div class="text-center">
                <img src="../images/bitbucket-product-features-illistrations-trello boards.svg" style="height:120px;" alt="">
                <h4 class="font-weight-bold mb-md-3 mt-md-3">Trello boards</h4>
                <p>Organize your projects and collaborate with your team on boards</p>
                <a href="#">Learn more<span class="fa fa-long-arrow-right ml-md-3"></span> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-light" style="padding-top: 140px;">
    <div class="container pb-md-5" style="background-color:white;">
      <div class="row mb-md-5 justify-content-center code-smarter-row1-custom ">
        <h2 class="text-dark  text-center font-weight-bold">Code smarter, ship faster</h2>
      </div>
      <div class="row code-smarter-row-custom" >
        <div class="col-md-6 code-smarter-col-custom">
          <div class="row ">
            <img src="../images/Asset 15.svg" class="asset15-custom" alt="">
            <h4 class="code-smarter-div-custom font-weight-bold">Diff views</h4>
          </div>
          <p class="code-smarter-div-custom ml-md-4">Understand what's changing in your repositories with
            unified or side-by-side diffs when reviewing code.
          </p>
        </div>
        <div class="col-md-6 code-smarter-col-custom ">
          <div class="row ml-md-3">
            <img src="../images/Asset 5.svg" class="asset15-custom" alt="">
            <h4 class="pl-md-4 font-weight-bold">Jira Software integration</h4>
          </div>
          <p class="code-smarter-div-custom ml-md-4">Create a branch from within a Jira Software issue and set up triggers to
             transition between statuses when reviewing or merging code.
          </p>
        </div>
      </div>
      <div class="row code-smarter-row-custom " >
        <div class="col-md-6 code-smarter-col-custom">
          <div class="row">
            <img src="../images/Asset 16.svg" class="asset15-custom" alt="">
            <h4 class="code-smarter-div-custom font-weight-bold">Projects</h4>
          </div>
          <p class="code-smarter-div-custom ml-md-4">Help your team focus on a goal, product
             or process by organizing your repositories into projects.
          </p>
        </div>
        <div class="col-md-6  code-smarter-col-custom">
          <div class="row ml-md-3">
            <img src="../images/Asset 17.svg" class="asset15-custom" alt="">
            <h4 class="code-smarter-div-custom font-weight-bold">3rd party integrations</h4>
          </div>
          <p class="code-smarter-div-custom ml-md-4">Integrate into your existing workflow
             to streamline your development process.
          </p>
        </div>
      </div>
      <div class="row code-smarter-row-custom  " >
        <div class="col-md-6 code-smarter-col-custom ">
          <div class="row">
            <img src="../images/Asset 14.svg" class="asset15-custom" alt="">
            <h4 class="code-smarter-div-custom font-weight-bold">Build integration</h4>
          </div>
          <p class="code-smarter-div-custom ml-md-4">Bitbucket can show build results from your CI system. A simple pass
            or fail icon tells you about the health of your code.
          </p>
        </div>
        <div class="col-md-6 code-smarter-col-custom  ">
          <div class="row ml-md-3">
            <img src="../images/Asset 18.svg" class="asset15-custom" alt="">
            <h4 class="code-smarter-div-custom font-weight-bold">Desktop client</h4>
          </div>
          <p class="code-smarter-div-custom ml-md-4">Harness the full power of Git and Mercurial
            in a beautifully simple desktop application.
          </p>
        </div>
      </div>
    </div>
      <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4  Flexible-custom">
            <h2 class="font-weight-bold mb-md-3">Flexible deployment options</h2>
            <p class="text-muted font-weight-bold">In the cloud, on your own infrastructure or at
              massive scale, Bitbucket has your platform covered.
            </p>
          </div>
        </div>
        <div class="row">
          <table class="table">
            <thead>
              <tr  class="text-primary">
                <th scope="col"> </th>

                <th scope="col" >CLOUD</th>

                <th scope="col">SERVER</th>

                <th scope="col">DATA CENTER</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-muted"> Git repository hosting</th>

                <td class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Branch permissions</th>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Jira Software integration</th>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Projects</th>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td class="arrow-color"><span class="fa fa-check-circle"></span></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">APIs</th>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">3rd party integrations</th>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Git Large File Storage (LFS)</th>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td scope="col" class="arrow-color"><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Merge checks</th>

                <td >PREMIUM</td>

                <td  class="arrow-color "><span class="fa fa-check-circle"></span></td>

                <td  class="arrow-color"><span class="fa fa-check-circle"></span></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Code Search</th>
                <td  class="arrow-color "><span class="fa fa-check-circle"></span></td>
                <td  class="arrow-color "><span class="fa fa-check-circle"></span></td>
                <td  class="arrow-color "><span class="fa fa-check-circle"></span></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Clustering</th>
                <td  class="arrow-color "></td>
                <td  class="arrow-color "></td>
                <td  class="arrow-color "><span class="fa fa-check-circle"></span></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Smart Mirroring</th>
                <td  >PREMIUM</td>
                <td  class="arrow-color "></td>
                <td  class="arrow-color "><span class="fa fa-check-circle"></span></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">IP Whitelisting</th>
                <td  >PREMIUM</td>
                <td  class="arrow-color "></td>
                <td  class="arrow-color "></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted"><em>Required</em> two-step verification</th>
                <td  >PREMIUM</td>
                <td  class="arrow-color "></td>
                <td  class="arrow-color "></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Mercurial repository hosting</th>
                <td  class="arrow-color "></td>
                <td  class="arrow-color "></td>
                <td  class="arrow-color "></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Snippets</th>
                <td  class="arrow-color "><span class="fa fa-check-circle"></span></td>
                <td  class="arrow-color "></td>
                <td  class="arrow-color "></td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Built-in continuous delivery</th>
                <td  class="arrow-color "><span class="fa fa-check-circle"></span></td>
                <td >Bamboo*</td>
                <td >Bamboo*</td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Issue tracking</th>
                <td  class="arrow-color "><span class="fa fa-check-circle"></span></td>
                <td >Jira Software*</td>
                <td  >Jira Software*</td>
              </tr>
              <tr>
                <th scope="row" class="text-muted">Wiki</th>
                <td  class="arrow-color "><span class="fa fa-check-circle"></span></td>
                <td  >Confluence*</td>
                <td  >Confluence*</td>
              </tr>

            </tbody>
          </table>
        </div>
        <hr>
        <div class="text-right">
          <p >* Integrates easily with
            <a href="#">Jira Software,</a>
            <a href="#">Confluence</a>and
            <a href="#">Bamboo</a>
          </p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 mt-md-5">
            <div class="text-center">
              <h2 class="font-weight-bold">Code, manage, collaborate </h2>
              <a href="#" class="btn mt-md-4 text-white" style="margin-top:20px;background-color:#0000ff;">Get started for free</a>
            </div>
          </div>
          <div class="col-md-2 ">
          </div>
        </div>
      </div>
      <footer class="footer footer-custom">
        <div class="container-fluid bg-light">
          <div class="row Flexible-custom pb-md-3">
            <div class="col-md-3 footer-col-custom ">
              <div class="row ">
                <h6 class="footer-h4-custom footer-a-custom font-weight-bold">Bitbucket</h6>
              </div>
              <div class="row  ">
                <a href="#" class="text-dark footer-a-custom"><small>Blog</small></a>
              </div>
              <div class="row  ">
                <a href="#" class="text-dark footer-a-custom"><small>API</small></a>
              </div>
              <div class="row  ">
                <a href="#" class="text-dark footer-a-custom"><small>Site status</small></a>
              </div>
            </div>
            <div class="col-md-3  footer-col-custom">
              <div class="row ">
                <h6 class="footer-h4-custom footer-a-custom font-weight-bold">Resources</h6>
              </div>
              <div class="row  ">
                <a href="#" class="text-dark footer-a-custom"><small>Technical support</small></a>
              </div>
              <div class="row  ">
                <a href="#" class="text-dark footer-a-custom"><small>Documentation</small></a>
              </div>
              <div class="row  ">
                <a href="#" class="text-dark footer-a-custom"><small>Plans & pricing</small></a>
              </div>
            </div>
            <div class="col-md-6 footer-col-custom">
              <div class="row">
                  <h6 class="footer-h4-custom footer-a-custom font-weight-bold">Connect with us</h6>
              </div>
              <div class="row">
                <p class="text-dark footer-a-custom"><small>Sign up for Git articles and resources:</small></p>
              </div>
              <div class="row  ">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control" placeholder="Email address" aria-describedby="sizing-addon1">
                    <a href="#" id="d" class="btn btn-outline-primary text-dark text-white ml-md-2 mt-md-2" ><span id="d">Subscribe</span></a>
                </div>
              </div>
            </div>

            <ul class="list-inline mt-md-2" style="margin-left:790px;" >
              <li class="list-inline-item text-muted">Connect with Bitbucket
              </li>
              <li class="list-inline-item"><a href="#"><span class=" text-muted fa fa-facebook-square"></span></a>
              </li>
              <li class="list-inline-item"><a href="#"><span class="fa fa-twitter-square text-muted"></span></a>
              </li>
              <li class="list-inline-item"><a href="#"><span class="fa fa-google-plus-square text-muted"></span></a>
              </li>
            </ul>
          </div>
            <hr>
            <nav class="nav  bg-light navbar-light navbar-expand-md">
                <ul class="navbar-nav mr-auto text-center " id="f">
                  <a class="navbar-brand ml-md-2" href="#">
                    <img src="../images/Atlassian-horizontal-blue-rgb.svg" width="193px" height="23.937px" alt="">
                </a>
                <li class="nav-item ml-md-2"><a href="#" class="nav-link">Privacy policy</a></li>
                <li class="nav-item ml-md-2"><a href="#" class="nav-link">Terms of use</a></li>
                <li class="nav-item ml-md-2"><a href="#" class="nav-link">Trust & security</a></li>
                <li class="nav-item ml-md-2"><a href="#" class="nav-link">Copyright © 2018</a></li>
              </ul>
              <ul class="navbar-nav" id="f">
                  <li class="nav-item ml-md-2"><a href="#" class="nav-link">View all Atlassian products</a></li>
              </ul>

            </nav>
        </div>
      </footer>

      <!-- link for bootstrap  and jquery js library -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

      <!-- link for js files -->
      <script src="../js/index.js"></script>
  </body>
</html>
