<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Integrations | Bitbucket</title>
    <link rel="icon" href="../images/integrations.png">

    <!-- link for bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

  <!-- link for fa fa-fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- link for custom style -->
    <link rel="stylesheet" href="../css/bitbucket.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="../images/Bitbucket-blue.svg" height="22px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mt-md-2 mr-auto  font-weight-bold" >
          <li class="nav-item">
            <a href="#" id="f" class="nav-link ">Features</a>
          </li>
          <li class="nav-item">
            <a href="#" id="f " class="nav-link" style="color:blue;">Integrations</a>
          </li>
          <li class="nav-item">
            <a href="#" id="f" class="nav-link ">Server</a>
          </li>
          <li class="nav-item">
            <a href="#" id="f" class="nav-link ">Enterprise</a>
          </li>
          <li class="nav-item">
            <a href="#" id="f" class="nav-link ">Pricing</a>
          </li>
        </ul>
        <ul class="navbar-nav mt-md-2 font-weight-bold">
          <li class="nav-item">
            <a href="#" id="f" class="nav-link  mr-md-2" >Log in</a>
          </li>
          <li class="nav-item">
            <a href="# " id="d" class="btn text-dark nav-link" style="border-color:#0000ff;"><font color:"red" id="d">Get started</font>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron jumbotron-custom">
        <div class="row ">
          <div class="col-md-2 ">
          </div>
          <div class="col-md-8 text-center">
            <h1 class="font-weight-bold jumbotron-col-custom">Get all your work done in Bitbucket</h1>
            <p class="jumbotron-col-custom font-weight-bold text-muted">Work with the tools that help your teams build better software</p>
            <a href="#" class="btn pl-md-2 pr-md-2 pt-md-2 pb-md-2 text-white anchor-tag-custom jumbotron-col-custom" >Get started for free</a>
          </div>
          <div class="col-md-2 ">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row pt-md-5 ml-md-3 mr-md-3 ">
        <div class="col-md-3 integrations-column-custom ">
          <img src="../images/Jira Software-blue.svg" class="jumbotron-col-custom img-custom" alt="">
          <p class="text-muted font-weight-bold jumbotron-col-custom">Work efficiently by connecting commits and pull requests to Jira Software issues.</p>
          <div class="text-center">
              <a href="#" class="btn btn-outline-primary  " id="d">Learn-more</a>
          </div>
        </div>
        <div class="col-md-3 integrations-column-custom">
          <img src="../images/Hipchat-blue.svg" class="jumbotron-col-custom img-custom" alt="">
          <p class="text-muted font-weight-bold jumbotron-col-custom">Stay up to date on commit and pull request progress through instant notifications in Hipchat.</p>
          <div class="text-center">
              <a href="#" class="btn btn-outline-primary  " id="d">Learn-more</a>
          </div>
        </div>
        <div class="col-md-3 integrations-column-custom ">
          <img src="../images/Bamboo-blue.svg" class="jumbotron-col-custom img-custom" alt="">
          <p class="text-muted font-weight-bold jumbotron-col-custom">Monitor the status of Bamboo builds in Bitbucket and easily detect issues before they become a problem.</p>
          <div class="text-center">
              <a href="#" class="btn btn-outline-primary  " id="d">Learn-more</a>
          </div>
        </div>
        <div class="col-md-3  integrations-column-custom ">
          <img src="../images/Trello-icon-blue@2x.png" class="jumbotron-col-custom img-custom" alt="">
          <p class="text-muted font-weight-bold jumbotron-col-custom">Trello's boards, lists and cards enable you to organize, prioritize and collaborate on your projects in a fast, flexible way.</p>
          <div class="text-center">
              <a href="#" class="btn btn-outline-primary  " id="d">Learn-more</a>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer footer-custom">
      <div class="container-fluid bg-light">
        <div class="row Flexible-custom pb-md-3">
          <div class="col-md-3 footer-col-custom ">
            <div class="row ">
              <h6 class="footer-h4-custom footer-a-custom font-weight-bold">Bitbucket</h6>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>Blog</small></a>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>API</small></a>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>Site status</small></a>
            </div>
          </div>
          <div class="col-md-3  footer-col-custom">
            <div class="row ">
              <h6 class="footer-h4-custom footer-a-custom font-weight-bold">Resources</h6>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>Technical support</small></a>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>Documentation</small></a>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>Plans & pricing</small></a>
            </div>
          </div>
          <div class="col-md-6 footer-col-custom">
            <div class="row">
                <h6 class="footer-h4-custom footer-a-custom font-weight-bold">Connect with us</h6>
            </div>
            <div class="row">
              <p class="text-dark footer-a-custom"><small>Sign up for Git articles and resources:</small></p>
            </div>
            <div class="row  ">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Email address" aria-describedby="sizing-addon1">
                  <a href="#" id="d" class="btn btn-outline-primary text-dark text-white ml-md-2 mt-md-2" ><span id="d">Subscribe</span></a>
              </div>
            </div>
          </div>

          <ul class="list-inline mt-md-2" style="margin-left:790px;" >
            <li class="list-inline-item text-muted">Connect with Bitbucket
            </li>
            <li class="list-inline-item"><a href="#"><span class=" text-muted fa fa-facebook-square"></span></a>
            </li>
            <li class="list-inline-item"><a href="#"><span class="fa fa-twitter-square text-muted"></span></a>
            </li>
            <li class="list-inline-item"><a href="#"><span class="fa fa-google-plus-square text-muted"></span></a>
            </li>
          </ul>
        </div>
          <hr>
          <nav class="nav  bg-light navbar-light navbar-expand-md">
              <ul class="navbar-nav mr-auto text-center " id="f">
                <a class="navbar-brand ml-md-2" href="#">
                  <img src="../images/Atlassian-horizontal-blue-rgb.svg" width="193px" height="23.937px" alt="">
              </a>
              <li class="nav-item ml-md-2"><a href="#" class="nav-link">Privacy policy</a></li>
              <li class="nav-item ml-md-2"><a href="#" class="nav-link">Terms of use</a></li>
              <li class="nav-item ml-md-2"><a href="#" class="nav-link">Trust & security</a></li>
              <li class="nav-item ml-md-2"><a href="#" class="nav-link">Copyright © 2018</a></li>
            </ul>
            <ul class="navbar-nav" id="f">
                <li class="nav-item ml-md-2"><a href="#" class="nav-link">View all Atlassian products</a></li>
            </ul>
          </nav>
      </div>
    </footer>
    <!-- link for bootstrap  and jquery js library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

    <!-- link for js files -->
    <script src="../js/index.js"></script>
  </body>
</html>
