<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Integrations | Bitbucket</title>
    <link rel="icon" href="../images/integrations.png">

    <!-- link for bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

  <!-- link for fa fa-fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- link for custom style -->
    <link rel="stylesheet" href="../css/bitbucket.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="../images/Bitbucket-blue.svg" height="22px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mt-md-2 mr-auto  font-weight-bold" >
          <li class="nav-item">
            <a href="#" id="f" class="nav-link ">Features</a>
          </li>
          <li class="nav-item">
            <a href="#" id="f " class="nav-link" style="color:blue;">Integrations</a>
          </li>
          <li class="nav-item">
            <a href="#" id="f" class="nav-link ">Server</a>
          </li>
          <li class="nav-item">
            <a href="#" id="f" class="nav-link ">Enterprise</a>
          </li>
          <li class="nav-item">
            <a href="#" id="f" class="nav-link ">Pricing</a>
          </li>
        </ul>
        <ul class="navbar-nav mt-md-2 font-weight-bold">
          <li class="nav-item">
            <a href="#" id="f" class="nav-link  mr-md-2" >Log in</a>
          </li>
          <li class="nav-item">
            <a href="# " id="d" class="btn text-dark nav-link" style="border-color:#0000ff;"><font color:"red" id="d">Get started</font>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron jumbotron-custom">
        <div class="row ">
          <div class="col-md-2 ">
          </div>
          <div class="col-md-8 text-center">
            <h1 class="font-weight-bold jumbotron-col-custom">Get all your work done in Bitbucket</h1>
            <p class="jumbotron-col-custom font-weight-bold text-muted">Work with the tools that help your teams build better software</p>
            <a href="#" class="btn pl-md-2 pr-md-2 pt-md-2 pb-md-2 text-white anchor-tag-custom jumbotron-col-custom" >Get started for free</a>
          </div>
          <div class="col-md-2 ">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row pt-md-5 ml-md-3 mr-md-3 ">
        <div class="col-md-3 integrations-column-custom ">
          <img src="../images/Jira Software-blue.svg" class="jumbotron-col-custom img-custom" alt="">
          <p class="text-muted font-weight-bold jumbotron-col-custom">Work efficiently by connecting commits and pull requests to Jira Software issues.</p>
          <div class="text-center">
              <a href="#" class="btn btn-outline-primary  " id="d">Learn-more</a>
          </div>
        </div>
        <div class="col-md-3 integrations-column-custom">
          <img src="../images/Hipchat-blue.svg" class="jumbotron-col-custom img-custom" alt="">
          <p class="text-muted font-weight-bold jumbotron-col-custom">Stay up to date on commit and pull request progress through instant notifications in Hipchat.</p>
          <div class="text-center">
              <a href="#" class="btn btn-outline-primary  " id="d">Learn-more</a>
          </div>
        </div>
        <div class="col-md-3 integrations-column-custom ">
          <img src="../images/Bamboo-blue.svg" class="jumbotron-col-custom img-custom" alt="">
          <p class="text-muted font-weight-bold jumbotron-col-custom">Monitor the status of Bamboo builds in Bitbucket and easily detect issues before they become a problem.</p>
          <div class="text-center">
              <a href="#" class="btn btn-outline-primary  " id="d">Learn-more</a>
          </div>
        </div>
        <div class="col-md-3  integrations-column-custom ">
          <img src="../images/Trello-icon-blue@2x.png" class="jumbotron-col-custom img-custom" alt="">
          <p class="text-muted font-weight-bold jumbotron-col-custom">Trello's boards, lists and cards enable you to organize, prioritize and collaborate on your projects in a fast, flexible way.</p>
          <div class="text-center">
              <a href="#" class="btn btn-outline-primary  " id="d">Learn-more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel slide mt-md-5 " id="demo"  data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1" ></li>
        <li data-target="#demo" data-slide-to="2" ></li>
        <li data-target="#demo" data-slide-to="3" ></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                  <img src="../images/MicrosoftAzureLogo.png" class="carousel-img-custom" alt="">
              </div>
              <div class="col-md-6">
                <h5 class="font-weight-bold jumbotron-col-custom">
                  <a href="#">
                    Deploy To Azure
                  </a>
                </h5>
                <p class="jumbotron-col-custom text-muted"  >
                  <small class="font-weight-bold ">
                    by Microsoft for Bitbucket Cloud
                  </small>
                </p>
                <p class="integrations-column-custom  text-muted">
                  <small class=" font-weight-bold">
                    Automatically deploy a branch or pull request to Azure
                     App Services directly from Bitbucket. View and customize your
                     application's deployment parameters in the Bitbucket UI.
                </small>
              </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item mt-md-5">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                      <img src="../images/script-runner.png" class="carousel-img-custom" alt="">
              </div>
              <div class="col-md-6">
                <h5 class="font-weight-bold jumbotron-col-custom">
                  <a href="#">
                  ScriptRunner
                  </a>
                </h5>
                <p class="jumbotron-col-custom text-muted"  >
                  <small class="font-weight-bold ">
                    by Adaptavist for Bitbucket Server
                  </small>
                </p>
                <p class="integrations-column-custom  text-muted">
                  <small class=" font-weight-bold">
                  Enhance and automate your Bitbucket Server projects,
                  repositories and Git workflows. Auto add reviewers to
                   pull requests, block undesired push events,
                   and/or mirror repositories from Bitbucket Cloud.
                </small>
              </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                  <img src="../images/awesome-graphs.png" class="carousel-img2-custom"   alt="">
              </div>
              <div class="col-md-6">
                  <h5 class="font-weight-bold jumbotron-col-custom">
                    <a href="#">
                      Awesome Graphs
                    </a>
                  </h5>
                  <p class="jumbotron-col-custom text-muted"  >
                    <small class="font-weight-bold ">
                      by StiltSoft for Bitbucket Server
                    </small>
                  </p>
                  <p class="integrations-column-custom  text-muted">
                    <small class=" font-weight-bold">
                      Track and monitor projects and repositories with visualized
                       statistics. Make prompt and informed decisions with lucid
                        illustrative graphs and charts that show your repository
                        dynamics in terms of commits, pull requests, additions,
                      deletions or lines of code over different time spans
                  </small>
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                  <img src="../images/AmazonWebservices_Logo.png" class="carousel-img-custom" alt="">
              </div>
              <div class="col-md-8">
                <h5 class="font-weight-bold jumbotron-col-custom">
                  <a href="#">
                    AWS CodeDeploy
                  </a>
                </h5>
                <p class="jumbotron-col-custom text-muted"  >
                  <small class="font-weight-bold ">
                    by Atlassian for Bitbucket Cloud
                  </small>
                </p>
                <p class="integrations-column-custom  text-muted">
                  <small class=" font-weight-bold">
                    Automatically deploy a branch, commit, or pull request
                    to AWS without leaving Bitbucket. Simply link your
                    repository using an IAM role, pick an S3 bucket, and
                     deploy your application. Once deployed,
                     monitor updates directly within the Bitbucket UI.
                </small>
              </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <a class="carousel-control-prev " href="#demo" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
    <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
    <div class="container-fluid  mb-md-5" >
      <div class="row">
        <div class="col-md-3 ">
          <div class="card text-center">
            <img src="../images/bb_integrations_addons_docker.png" class=" card-img-top docker-img-custom" alt="docker-img">
            <div class="card-body">
              <h5 class="card-title text-dark font-weight-bold">Docker Hub</h5>
              <small class="card-subtitle mb-2 text-muted">by Atlassian Labs for Bitbucket Cloud
              </small>
              <p class="mt-md-3">
                <small>
                  View Docker Hub build status and Docker pull count
                 within your Bitbucket repository. See immediate warnings
                  when
                 Docker Hub builds are behind your repository branch.
               </small>
             </p class="mt-md-3">
              <div class="text-center">
                <a href="#" class="btn btn-outline-primary mb-md-4 " id="d">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card text-center">
            <img src="../images/bb_integrations_addons_npm.png" class=" card-img-top docker-img-custom" alt="docker-img">
            <div class="card-body">
              <h5 class="card-title text-dark font-weight-bold">npm</h5>
              <small class="card-subtitle  text-muted">by Atlassian Labs for Bitbucket Cloud
              </small>
              <p class="mt-md-3">
                <small>
                  View npm metadata about your packages and dependencies
                from inside Bitbucket. Stay informed on package download
                 counts, repository version, license information, and more.
               </small>
              </p>
              <div class="text-center">
                <a href="#" class="btn btn-outline-primary " id="d">Learn more</a>
              </div>
            </div>
        </div>
      </div>
        <div class="col-md-3 ">
          <div class="card text-center">
            <img src="../images/bb_integrations_addons_sonar.png" class=" card-img-top docker-img-custom" alt="docker-img">
            <div class="card-body">
              <h5 class="card-title text-dark font-weight-bold">Sonar</h5>
              <small class="card-subtitle  text-muted">by Mibex Software GmbH for Bitbucket Server
              </small>
              <p class="mt-md-3">
                <small>
                View SonarQube metrics, including Sonar issues and
                code coverage, within Bitbucket's pull requests. Apply
                merge checks using SonarQube's
                 quality gates, i.e. technical debt or duplicated code.
               </small>
              </p>
              <div class="text-center">
                <a href="#" class="btn btn-outline-primary " id="d">Learn more</a>
              </div>
            </div>
        </div>
        </div>
        <div class="col-md-3 ">
          <div class="card text-center">
            <img src="../images/bb_integrations_addons_svnmirror.png" class=" card-img-top docker-img-custom" alt="docker-img">
            <div class="card-body">
              <h5 class="card-title text-dark font-weight-bold">SVN Mirror</h5>
              <small class="card-subtitle  text-muted">by TMate Software for Bitbucket Server
              </small>
              <p class="mt-md-3">
                <small>
                Simplify your SVN to Git migration with SVN Mirror
                for Bitbucket Server. Configure and manage mirroring from SVN
                 repositories to Git directly within the Bitbucket UI.
               </small>
              </p>
              <div class="text-center">
                <a href="#" class="btn btn-outline-primary mb-md-4 " id="d">Learn more</a>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-warning" >
      <div class="row">
        <div class=" col-md-2 ">

        </div>
        <div class="col-md-5  Flexible-custom">
          <blockquote class="text-white font-weight-bold integrations-column-custom" cite="http://">
            <h4>" From eight hours to one, MYMARKET.
            IO speeds deployment with Bitbucket and Aerobatic "</h4>
          </blockquote>
          <a href="#" class="text-white ">
            <img src="../images/my-market-logo.png" class=" market-logo-custom" alt="">
            <span class="ml-md-3">Read MYMARKET's story</span>
          </a>
        </div>
      </div>
    </div>
    <footer class="footer footer-custom">
      <div class="container-fluid bg-light">
        <div class="row Flexible-custom pb-md-3">
          <div class="col-md-3 footer-col-custom ">
            <div class="row ">
              <h6 class="footer-h4-custom footer-a-custom font-weight-bold">Bitbucket</h6>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>Blog</small></a>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>API</small></a>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>Site status</small></a>
            </div>
          </div>
          <div class="col-md-3  footer-col-custom">
            <div class="row ">
              <h6 class="footer-h4-custom footer-a-custom font-weight-bold">Resources</h6>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>Technical support</small></a>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>Documentation</small></a>
            </div>
            <div class="row  ">
              <a href="#" class="text-dark footer-a-custom"><small>Plans & pricing</small></a>
            </div>
          </div>
          <div class="col-md-6 footer-col-custom">
            <div class="row">
                <h6 class="footer-h4-custom footer-a-custom font-weight-bold">Connect with us</h6>
            </div>
            <div class="row">
              <p class="text-dark footer-a-custom"><small>Sign up for Git articles and resources:</small></p>
            </div>
            <div class="row  ">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Email address" aria-describedby="sizing-addon1">
                  <a href="#" id="d" class="btn btn-outline-primary text-dark text-white ml-md-2 mt-md-2" ><span id="d">Subscribe</span></a>
              </div>
            </div>
          </div>

          <ul class="list-inline mt-md-2" style="margin-left:790px;" >
            <li class="list-inline-item text-muted">Connect with Bitbucket
            </li>
            <li class="list-inline-item"><a href="#"><span class=" text-muted fa fa-facebook-square"></span></a>
            </li>
            <li class="list-inline-item"><a href="#"><span class="fa fa-twitter-square text-muted"></span></a>
            </li>
            <li class="list-inline-item"><a href="#"><span class="fa fa-google-plus-square text-muted"></span></a>
            </li>
          </ul>
        </div>
          <hr>
          <nav class="nav  bg-light navbar-light navbar-expand-md">
              <ul class="navbar-nav mr-auto text-center " id="f">
                <a class="navbar-brand ml-md-2" href="#">
                  <img src="../images/Atlassian-horizontal-blue-rgb.svg" width="193px" height="23.937px" alt="">
              </a>
              <li class="nav-item ml-md-2"><a href="#" class="nav-link">Privacy policy</a></li>
              <li class="nav-item ml-md-2"><a href="#" class="nav-link">Terms of use</a></li>
              <li class="nav-item ml-md-2"><a href="#" class="nav-link">Trust & security</a></li>
              <li class="nav-item ml-md-2"><a href="#" class="nav-link">Copyright © 2018</a></li>
            </ul>
            <ul class="navbar-nav" id="f">
                <li class="nav-item ml-md-2"><a href="#" class="nav-link">View all Atlassian products</a></li>
            </ul>
          </nav>
      </div>
    </footer>
    <!-- link for bootstrap  and jquery js library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

    <!-- link for js files -->
    <script src="../js/index.js"></script>
  </body>
</html>
