<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bitbucket</title>
    <link rel="icon" href="../images/bitbucket-icon.png" sizes="16x16"  type="image/gif">
    <!-- link for bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

  <!-- link for fa fa-fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- link for custom style -->
    <link rel="stylesheet" href="../css/bitbucket.css">
  </head>
  <body>
    <div class="container login-custom">
      <div class="row ">
        <div class="col-md-4 ">

        </div>
        <div class="col-md-5 ">
          <div class="text-center">
              <img src="../images/Atlassian-horizontal-blue-rgb.svg" class="login-atlasian-custom" alt="">
          </div>

          <hr>
          <div class="text-center">
              <img src="../images/Bitbucket-blue.svg" class="mb-3 login-bitbucket-custom " alt="">
          </div>

              <form class="" action="index.html" method="post">
                <div class="form-group">
                  <input type="submit" name="" value="Log in with google" class="form-control">
                  <div class="text-center">
                    or
                  </div>
                </div>
              </form>
          <form class="" action="index.html" method="post">
            <div class="form-group">
              <input type="email" placeholder="Email" class="form-control" name="" value="" required>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control bg-light" name="" value="" required>
            </div>
            <button type="button"class="btn btn-primary pl-md-5 pr-md-5 " name="button">Login</button>
            <a href="#" class="ml-3"> Forgot your password?</a>
            <div class="mt-3">
              <p>Need an account
                <a href="#">Sign up
                </a>
              </p>
            </div>
          </form>
          <hr>
          <p class="text-center mt-5">
            <a href="#">Log in with Atlassian account SSO
            </a>
          </p>
          <p class="text-center">
            <a href="#"> Log in with GitHub, Facebook, or Twitter
            </a>
          </p>

        <ul class="list-inline text-center mt-5">
          <li class="list-inline-item">
            <a href="#">Terms of Use
          </a>
          </li>
          <li class="list-inline-item">
            <a href="#">Support
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">Privacy Policy
        </a>
        </li>
        </ul>
          </div>
        <div class="col-md-3 ">

        </div>
      </div>
    </div>

  </body>
</html>
